@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Panel serwisu</h1>
    <p class="lead">Dodawaj i aktualizuj dane klientów.</p>
    <a class="btn btn-primary" asp-page="/Clients/Index">Przejdź do listy klientów</a>
</div>
